body {
    background-color:#F2F6F9;
    font: normal .9em Tahoma, Verdana, Helvetica, Arial, sans-serif;
    margin: 5px auto 0;
    padding: 5px 0;
    position: relative;
    width: 850px;
}

body.quick {
    background-color:#3673b3;
    font: normal 1em Tahoma, Verdana, Helvetica, Arial, sans-serif;
    margin: 5px auto 0;
    padding: 5px 0;
    position: relative;
    width: 850px;
}

body.quick a {
    color: #fff;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}

body.quick a:hover {
    color: #bbb;
    text-decoration: none;
}

.clr {
    clear: both;
}

#header {
    margin-bottom: 3px;
    text-align: right;
    width: 100%;
}

#header a {
    color: #6A0000;
    font-size: 11px;
    font-weight: 700;
}

#header a:hover {
    color: #900;
}

#content {
    background-color: #FFF;
    background-image: url(images/cbg.png);
    background-position: 140px;
    background-repeat: repeat-y;
    border: 1px solid #000;
    position: relative;
}

#content .logo {
    left: 0;
    position: relative;
    top: 0;
    background-color: #3673b3;
}

#content .title {
    position: absolute;
    right: 15px;
    top: 26px;
}

#content .lang {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 9;
}

#content .spc {
    background-color: #69c;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    height: 5px;
    overflow: hidden;
    position: relative;
    top: 0;
}

#content .shead {
    background-color: #fff;
}

#content .subs {
    position: relative;
    top: -10px;
}

#content .menu {
    float: left;
    left: 0;
    position: relative;
    top: 7px;
    width: 150px;
    font-size: .7em;
}

#content .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#content .menu ul li {
    padding: 3px 4px;
}

#content .menu ul li span {
    border-bottom: 1px solid #000;
    display: block;
    font-weight: 700;
    padding-top: 10px;
    width: 98%;
}

#content .menu ul li a {
    background-color: #dde3eb;
    border: 1px solid #000;
    color: #000;
    display: block;
    font-weight: 700;
    height: 17px;
    line-height: 1.6;
    padding-left: 3px;
    text-decoration: none;
    width: 97%;
}

#content .menu ul li span a {
    background-color: transparent;
    border: 0;
    text-decoration: none;
    width: 98%;
}

#content .menu ul li a:hover {
    background-color: #adc7e1;
    color: #fff;
}

#content .body {
    margin-left: 150px;
    margin-right: 10px;
    margin-top: 10px;
    padding-left: 15px;
}

#content .body h2 {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 5px;
}

#content .body h3 {
    font-size: 1.25em;
    margin-bottom: .5em;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 5px;
}

#content .body p {
    margin-bottom: 1em;
}

#content .body p span {
    font-weight:700;
}

#content .body .imga {
    float:right;
    margin-left:5px;
}

#content .body ol li {
    padding-bottom:1.5em;
}

#content .body ol li ul {
    margin-top: 5px;
}

#content .body ol li ul li {
    line-height: 1.25em;
    margin: 0;
    padding: 0;
}

#content .body ul.st3 li {
    border-bottom: 1px solid #DDE3EB;
    margin-bottom: 4px;
    width: 98%;
}

#content .body ul.st3 li span.ascii {
    display: block;
    float: right;
}

#content .body ul.st3 li span.chmod {
    display: block;
    float: right;
    text-align: right;
    width: 180px;
}

#content .body ol,#content .body ul.st3 {
    margin: 0 0 1.25em 0;
    padding-left: 15px;
}

.quick p {
    text-align: center;
}

.quick a img {
    vertical-align: middle;
}

.quick table {
    width: 35em;
    margin: 0 auto;
}

.quick td {
    text-align: center;
}

.bigger {
    font-size: 120%;
}

.shebang {
    float: right;
    padding-left: 5px;
    padding-bottom: 0px;
}

.underline {
    text-decoration: underline;
}

.chmod {
    float: right;
    margin-left: 8px;
    border: 1px solid #000;
    vertical-align: top;
}

.setup {
    float: right;
    margin-left: 5px;
    vertical-align: top;
}

.yabb1 {
    float: right;
    margin-left: 5px;
    overflow: hidden;
    vertical-align: top;
}

h4 {
    font-size: 1em;
    margin-bottom: -5px;
}

.red {
    color: #f00;
}

.qguide {
    color: #eee;
    font-size: 250%;
    text-shadow: #2d2d2d 2px 2px 2px;
}