/*------------------------------------------------------------------*/
/*                       YaBB 2014                                  */
/*------------------------------------------------------------------*/
/*       Created by: YaBB http://www.yabbforum.com                  */
/*------------------------------------------------------------------*/
/*     You may adapt elements of this CSS in your own               */
/*    projects, but please give credit to yabbforum.com.            */
/*------------------------------------------------------------------*/
/*    This is the css file for YaBB 2.6.1 Setup/Converter Utility   */
/*------------------------------------------------------------------*/
/* $Revision: 1560 $ */

.borderbox {
    padding: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

table.border-space {
    border-collapse: separate;
    border-spacing: 1px;
}

/*setup */
.div45 {
    float: left;
    width: 45%;
    text-align: left;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.div55 {
    float: left;
    width: 55%;
    text-align: left;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.div98 {
    float: left;
    width: 98%;
    color: #900000;
    font-size: 11px;
    padding: 2px;
}

/*converter */

.fontbigger {
    font-size: 11px;
}

.convdone {
    float: left;
    width: 250px;
    height: 14px;
    color: #f33;
}

.convnotdone {
    float: left;
    width: 250px;
    height: 14px;
    color: #bbb;
}

.divouter {
    float: left;
    width: 102px;
    height: 10px;
    margin: 1px;
    background-color: #ddd;
    border: 1px #000 solid;
    font-size: 5px;
    display: inline;
}

.divouter_center {
    float: left;
    width: 102px;
    height: 10px;
    margin: 1px;
    background-color: #ddd;
    border: 1px #000 solid;
    font-size: 10px;
    text-align :center;
    display: inline;
}

.divvary {
    position: relative;
    top: 0;
    left: 0;
    height: 10px;
    margin: 0;
    background-color: #69c;
    border: 0;
    font-size: 5px;
}

.divvary2 {
    float: left;
    width: 50px;
    height: 14px;
    text-align: right;
    color: #f33;
}
.divvary3 {
    float: left;
    width: 50px;
    height: 14px;
    text-align: right;
    color: #bbb;
}

table.pad-cell td,
table.pad-cell th,
.padd-cell {
    padding: 4px;
}

.important {
    color: #f00;
}

.good {
    color: #008000;
}

.totals {
    float: left;
    width: 350px;
    height: 14px;
}

.divvary_m {
    float: left;
    width: 102px;
    height: 10px;
    margin: 1px;
    background-color: #69c;
    border: 1px #000 solid;
    font-size: 5px;
    display: inline;
}

.bordercolor {
    background-color: #4378ae;
    border-radius: 5px 5px 0 0;
}

.titlebg {
    background-color: #4378ae;
    color: #eee;
    font-size: 12px;
    height: 20px;
    text-shadow: 1px 1px 1px #2d2d2d;
}